language: ruby
cache:
  - bundler
  - yarn
rvm:
  - 2.4.2
before_script:
  - cp config/database.yml.travis config/database.yml
  - cp config/secrets.yml.travis config/secrets.yml
  - psql -c 'create database travis_ci_test;' -U postgres
  - PRONTO_GITHUB_ACCESS_TOKEN=${GITHUB_TOKEN} PRONTO_PULL_REQUEST_ID=${TRAVIS_PULL_REQUEST} bundle exec pronto run -f github_status github_pr_review -c origin/${TRAVIS_BRANCH}

install:
  - bundle install
  - nvm install node
  - node -v
  - npm i -g yarn
  - yarn

script:
  - bundle exec rake db:migrate
  - bundle exec rspec

bundler_args: --without production

addons:
  code_climate:
    repo_token: 422fbc1732579b7382207ea8e9508188fd7a3e67494c7b3be5cecd8e740cec9d

after_success:
  - bundle exec codeclimate-test-reporter