---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/[CONTENTFUL_SPACE]/environments/master/entries?locale=*&sys.id=skill_id
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful.rb/2.9.3; platform ruby/2.5.1; os macOS/17;
      Authorization:
      - Bearer [CONTENTFUL_TOKEN]
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Contentful-Api:
      - cda_cached
      Etag:
      - '"78066c9b143d0fb64aef47bafc90ff7f"'
      X-Contentful-Region:
      - us-east-1
      X-Contentful-Request-Id:
      - 7f0906d966ac6c81421c85a54fdffc1d
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 1,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "[CONTENTFUL_SPACE]"
                  }
                },
                "id": "6eOYyTvZHaUiuWUs4OeSCk",
                "type": "Entry",
                "createdAt": "2018-10-11T07:13:16.926Z",
                "updatedAt": "2018-10-11T07:30:13.125Z",
                "environment": {
                  "sys": {
                    "id": "master",
                    "type": "Link",
                    "linkType": "Environment"
                  }
                },
                "revision": 2,
                "contentType": {
                  "sys": {
                    "type": "Link",
                    "linkType": "ContentType",
                    "id": "skill"
                  }
                }
              },
              "fields": {
                "name": {
                  "en": "Vue.js",
                  "pt-BR": "Vue.js"
                },
                "value": {
                  "en": 93
                }
              }
            }
          ]
        }
  recorded_at: Wed, 17 Oct 2018 17:54:55 GMT
recorded_with: VCR 4.0.0
