<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2"><%= t(:dashboard, scope: %i[helpers]) %></h1>
</div>

<div>
  <p id="notice"><%= notice %></p>
</div>
