<section class="technical" id="skills">
  <div class="container">
    <div class="heading">
      <h2><%= t('title', scope: %i[frontend skills]) %></h2>
      <p><%= t('subtitle', scope: %i[frontend skills]) %></p>
    </div>
    <div class="row">
      <% @skills.each do |skill| %>
        <span class="<%= "skill s-#{skill.value.to_i}" %>"><%= skill.name %></span>
      <% end %>
    </div>
  </div>
</section>
