	<!--about me start-->
	<section class="aboutme" id="aboutme">
		<div class="container">
			<div class="heading">
				<h2>Sobre mim</h2>
				<p></p>
			</div>
			<div class="row">
				<div class=" col-xs-12 col-sm-12 col-md-7 col-lg-7">
					<h3>Gustavo Cunha</h3>
					<h4 class="subHeading">Engenheiro de Software em Maceió / AL - Brasil</h4>
					<p>Bacharel em Ciência da Computação e especialista em Engenharia de Software, trabalha com desenvolvimento web desde 2003 e atualmente é Engenheiro de Software na Quimbik, Inc. Entusiasta de desenvolvimento mobile desde 2010, é certificado em desenvolvimento para iOS pela IDS Tecnologia, primeira Apple Authorized Training Center na América Latina, desde 2012.</p>
					<p>Gosto de trabalhar em grupo, sou movido a desafios. Sou perfeccionista, e sei que isso nem sempre é bom. Gosto de pesquisar coisas novas, propor soluções, resolver problemas, principalmente os mais difíceis.</p>
					<%=link_to "Download em PDF", "gmmcal.pdf", class: "bntDownload", target: :_blank%>
				</div>
				<div class=" col-xs-12 col-sm-12 col-md-4 col-lg-4 col-md-offset-1 col-lg-offset-1 proPic"> <%= image_tag "website/gmmcal.png", alt: "Gustavo Cunha", class: "topmar" %> </div>
			</div>
		</div>
	</section>
	<!--about me end-->
	<!--technical start-->
	<section class="technical" id="technical">
		<div class="container">
			<div class="heading">
				<h2>Habilidades Técnicas</h2>
				<p>Eu sei no que eu sou bom, mas estou sempre aprendendo</p>
			</div>
			<div class="row">
				<div class=" col-xs-12 col-sm-4 col-md-4 col-lg-4 skillsArea">
					<div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6 skills"> <span class="chart skilBg" data-percent="90"> <span class="percent"></span> </span>
						<h4>PHP</h4>
						<p>11 anos de experiência</p>
					</div>
				</div>
				<div class=" col-xs-12 col-sm-4 col-md-4 col-lg-4 skillsArea">
					<div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6 skills"> <span class="chart skilBg" data-percent="85"> <span class="percent"></span> </span>
						<h4>Ruby on Rails</h4>
						<p>Paixão a primeira linha de código</p>
					</div>
				</div>
				<div class=" col-xs-12 col-sm-4 col-md-4 col-lg-4 skillsArea">
					<div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6 skills"> <span class="chart skilBg" data-percent="70"> <span class="percent"></span> </span>
						<h4>Objective-C</h4>
						<p>Desafios a frente</p>
					</div>
				</div>
				<div class=" col-xs-12 col-sm-4 col-md-4 col-lg-4 skillsArea">
					<div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6 skills"> <span class="chart skilBg" data-percent="75"> <span class="percent"></span> </span>
						<h4>MySQL</h4>
						<p>select * from table...</p>
					</div>
				</div>
				<div class=" col-xs-12 col-sm-4 col-md-4 col-lg-4 skillsArea">
					<div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6 skills"> <span class="chart skilBg" data-percent="40"> <span class="percent"></span> </span>
						<h4>PostgreSQL</h4>
						<p>Uma nova abordagem....</p>
					</div>
				</div>
				<div class=" col-xs-12 col-sm-4 col-md-4 col-lg-4 skillsArea">
					<div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6 skills"> <span class="chart skilBg" data-percent="50"> <span class="percent"></span> </span>
						<h4>HTML / CSS</h4>
						<p>Aprendendo diáriamente</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--technical end-->
	<!--exprience start-->
	<section class="exprience" id="exprience">
		<div class="container">
			<div class="heading">
				<h2>Experiência de trabalho</h2>
				<p>Empresas por onde andei</p>
			</div>
			<div class="row workDetails">
				<div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
					<div class="workYear">Abr / 2014<br>Atualmente</div>
				</div>
				<div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 rightArea">
					<div class="arrowpart"></div>
					<div class="exCon">
						<h4>Alagoas Dev Day - Maceió - AL - Brasil</h4>
						<h5>Co-Fundador / Organizador</h5>
						<p>Evento anual de desenvolvimento criado para fomentar e fortalecer a cultura de programação em Alagoas e região, trazendo profissionais de renome no estado e no país para compartilhar experiências e difundir conhecimento.</p>
					</div>
				</div>
			</div>
			<div class="row workDetails">
				<div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
					<div class="workYear">Set / 2012<br>Atualmente</div>
				</div>
				<div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 rightArea">
					<div class="arrowpart"></div>
					<div class="exCon">
						<h4>Quimbik, Inc - São Francisco - CA - EUA</h4>
						<h5>Engenheiro de Software</h5>
						<p>Engenheiro de Software responsável por desenvolvimento de sistemas na empresa, em sistema de Home Office, usando Ruby on Rails, MySQL e Objective-C (iOS). Trabalho usando ferramentas para a integração e funcionamento das rotinas de trabalho, como o Redmine e Pivotal para gerenciamento de tickets, Skype e Slack para reuniões e conversas, Harverst para contabilização de horas, Git para versionamento de código, entre outras ferramentas.</p>
					</div>
				</div>
			</div>
			<div class="row workDetails">
				<div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
					<div class="workYear">Jun / 2007<br>Set / 2012</div>
				</div>
				<div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 rightArea">
					<div class="arrowpart"></div>
					<div class="exCon">
						<h4>id5 Solução Web - Maceió - AL - Brasil</h4>
						<h5>Programador / Analista de Sistemas</h5>
						<p>Responsável pela análise e desenvolvimento de sistemas da empresa. Comecei fazendo manutenções e desenvolvimento em um sistema de apoio a decisões em ASP / Access. Depois, passei a dar manutenção e desenvolver no sistema de gerenciamento de conteúdos proprietário da empresa em ASP / SQL Server. Em 2010, a empresa trocou o sistema proprietário pelo Wordpress, e voltei a desenvolver em PHP / MySQL. Desde então, sou responsável por quase toda a análise e todo o desenvolvimento de sistemas.</p>
					</div>
				</div>
			</div>
			<div class="row workDetails">
				<div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
					<div class="workYear">Mar / 2006<br>Mar / 2007</div>
				</div>
				<div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 rightArea">
					<div class="arrowpart"></div>
					<div class="exCon">
						<h4>Correios - Maceió - AL - Brasil</h4>
						<h5>Estágio em Desenvolvimento</h5>
						<p>Responsável pela manutenção da Intranet da Diretoria Regional de Alagoas e desenvolvimento de sistemas demandados pelos setores, sob a supervisão dos analistas de sistemas da empresa. Todos os sistemas eram desenvolvidos em Coldfusion, linguagem proprietária da Macromedia (comprada posteiormente pela Adobe).</p>
					</div>
				</div>
			</div>
			<div class="row workDetails">
				<div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
					<div class="workYear">Mar / 2003<br>Set / 2004</div>
				</div>
				<div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 rightArea">
					<div class="arrowpart"></div>
					<div class="exCon">
						<h4>Secretaria de Fazenda de Alagoas / SEFAZ - Maceió - AL - Brasil</h4>
						<h5>Estágio em suporte ao usuário</h5>
						<p>Estágio dando suporte a usuários em um setor da SEFAZ / AL, ajudando a ensinar os funcionários a usar o computador e seus recursos, agilizar o suporte, entre outros. Também trabalhei alimentando um sistema de produtividade desenvolvido pela equipe de TI da SEFAZ. No fim do estágio, cheguei a desenvolver um pe- queno sistema em PHP de tabulação de um pesquisa interna para o supervisor do setor.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--exprience end-->
	<!--education start-->
	<section class="education" id="education">
		<div class="container">
			<div class="heading">
				<h2>Education & Diplomas</h2>
				<p>What I have done in my academic career</p>
			</div>
			<div class="row workDetails">
				<div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
					<div class="workYear">Mar,2010</div>
				</div>
				<div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 rightArea">
					<div class="arrowpart"></div>
					<div class="exCon">
						<h4>Master Degree of Design</h4>
						<h5>University of Design</h5>
						<p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quom placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui faorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.</p>
					</div>
				</div>
			</div>
			<div class="row workDetails">
				<div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
					<div class="workYear">Sept, 2007</div>
				</div>
				<div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 rightArea">
					<div class="arrowpart"></div>
					<div class="exCon">
						<h4>Bachelor of Arts</h4>
						<h5>University of Design</h5>
						<p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quom placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui faorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.</p>
					</div>
				</div>
			</div>
			<div class="row workDetails">
				<div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
					<div class="workYear">Feb, 2005</div>
				</div>
				<div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 rightArea">
					<div class="arrowpart"></div>
					<div class="exCon">
						<h4>Master Degree of Design</h4>
						<h5>University of Design</h5>
						<p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quom placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui faorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--education end-->
	<!--protfolio start-->
	<section class="protfolio" id="protfolio">
		<div class="container">
			<div class="heading">
				<h2>Portfolio</h2>
				<p>showcase of my latest works</p>
			</div>
			<div class="portfolioFilter">
				<ul>
					<li><a href="#" data-filter="*" class="current">All</a></li>
					<li><a href="#" data-filter=".photos">Photos</a></li>
					<li><a href="#" data-filter=".branding">Branding</a></li>
					<li><a href="#" data-filter=".illustration">Illustration</a></li>
				</ul>
			</div>
			<ul class="portfolioContainer row">
				<li class="photos col-xs-6 col-sm-4 col-md-3 col-lg-3">
					<div class="lightCon"> <span class="hoverBox"> <span class="smallIcon"> <a rel="lightbox-demo" href="/assets/website/portfolio/big/1.jpg" title="Project Title1" class="zoom lb lb_warsaw1"><i class="fa fa-search fa-2x"></i></a> <a href="#" title="Project Link" target="_blank" class="linKed"><i class="fa fa-link fa-2x"></i></i></a> </span> </span> <img src="http://placehold.it/450x450&text=image1" alt=""  > </div>
				</li>
				<li class="branding illustration col-xs-6 col-sm-4 col-md-3 col-lg-3">
					<div class="lightCon"> <span class="hoverBox"> <span class="smallIcon"> <a rel="lightbox-demo" href="/assets/website/portfolio/big/2.jpg" title="Project Title2" class="zoom lb lb_warsaw1"><i class="fa fa-search fa-2x"></i></a> <a href="#" title="Project Link" target="_blank" class="linKed"><i class="fa fa-link fa-2x"></i></i></a> </span> </span> <img src="http://placehold.it/450x450&text=image2" alt="" > </div>
				</li>
				<li class="illustration col-xs-6 col-sm-4 col-md-3 col-lg-3">
					<div class="lightCon"> <span class="hoverBox"> <span class="smallIcon"> <a rel="lightbox-demo" href="/assets/website/portfolio/big/3.jpg" title="Project Title3" class="zoom lb lb_warsaw1"><i class="fa fa-search fa-2x"></i></a> <a href="#" title="Project Link" target="_blank" class="linKed"><i class="fa fa-link fa-2x"></i></i></a> </span> </span> <img src="http://placehold.it/450x450&text=image3" alt="" > </div>
				</li>
				<li class="branding illustration col-xs-6 col-sm-4 col-md-3 col-lg-3">
					<div class="lightCon"> <span class="hoverBox"> <span class="smallIcon"> <a rel="lightbox-demo" href="/assets/website/portfolio/big/4.jpg" title="Project Title4" class="zoom lb lb_warsaw1"><i class="fa fa-search fa-2x"></i></a> <a href="#" title="Project Link" target="_blank" class="linKed"><i class="fa fa-link fa-2x"></i></i></a> </span> </span> <img src="http://placehold.it/450x450&text=image4" alt="" > </div>
				</li>
				<li class="illustration photos col-xs-6 col-sm-4 col-md-3 col-lg-3">
					<div class="lightCon"> <span class="hoverBox"> <span class="smallIcon"> <a rel="lightbox-demo" href="/assets/website/portfolio/big/5.jpg" title="Project Title5" class="zoom lb lb_warsaw1"><i class="fa fa-search fa-2x"></i></a> <a href="#" title="Project Link" target="_blank" class="linKed"><i class="fa fa-link fa-2x"></i></i></a> </span> </span> <img src="http://placehold.it/450x450&text=image5" alt="" > </div>
				</li>
				<li class="branding photos col-xs-6 col-sm-4 col-md-3 col-lg-3">
					<div class="lightCon"> <span class="hoverBox"> <span class="smallIcon"> <a rel="lightbox-demo" href="/assets/website/portfolio/big/6.jpg" title="Project Title6" class="zoom lb lb_warsaw1"><i class="fa fa-search fa-2x"></i></a> <a href="#" title="Project Link" target="_blank" class="linKed"><i class="fa fa-link fa-2x"></i></i></a> </span> </span> <img src="http://placehold.it/450x450&text=image6" alt="" > </div>
				</li>
				<li class="illustration photos col-xs-6 col-sm-4 col-md-3 col-lg-3">
					<div class="lightCon"> <span class="hoverBox"> <span class="smallIcon"> <a rel="lightbox-demo" href="/assets/website/portfolio/big/7.jpg" title="Project Title7" class="zoom lb lb_warsaw1"><i class="fa fa-search fa-2x"></i></a> <a href="#" title="Project Link" target="_blank" class="linKed"><i class="fa fa-link fa-2x"></i></i></a> </span> </span> <img src="http://placehold.it/450x450&text=image7" alt="" > </div>
				</li>
				<li class="branding col-xs-6 col-sm-4 col-md-3 col-lg-3">
					<div class="lightCon"> <span class="hoverBox"> <span class="smallIcon"> <a rel="lightbox-demo" href="/assets/website/portfolio/big/8.jpg" title="Project Title8" class="zoom lb lb_warsaw1"><i class="fa fa-search fa-2x"></i></a> <a href="#" title="Project Link" target="_blank" class="linKed"><i class="fa fa-link fa-2x"></i></i></a> </span> </span> <img src="http://placehold.it/450x450&text=image8" alt="" > </div>
				</li>
			</ul>
		</div>
	</section>
	<!--protfolio end-->
	<!--contact start-->
	<section class="contact" id="contact">
		<div class="container topCon">
			<div class="heading">
				<h2>Contate-me</h2>
				<p>Sinta-se a vontade para entrar em contato.</p>
			</div>
		</div>
	</section>
	<section class="contactDetails">
		<div class="container">
			<!--contact info start-->
			<div class="col-xs-12 col-sm-3 col-md-4 col-lg-4">
				<h4>Informações</h4>
				<p> <i class="fa fa-map-marker fa-lg"></i> Maceió / AL - Brasil</p>
				<p> <i class="fa fa-mobile fa-lg"></i> +55 (82) 9987-2799</p>
				<p> <i class="fa fa-envelope-o "></i> <a href="mailto:gustavocunha&#64;gmail&#46;com">gustavocunha&#64;gmail&#46;com</a></p>
				<p> <i class="fa fa-link "></i> <a href="http://www.gmmcal.com.br">www.gmmcal.com.br</a></p>
			</div>
			<!--contact info end-->
			<!--contact form start-->
			<div class="col-xs-12 col-sm-9 col-md-8 col-lg-8 conForm">
				<h4>Envie uma mensagem!</h4>
				<div id="message"></div>
				<form method="post" action="php/contact.php" name="cform" id="cform">
					<input name="name" id="name" type="text" class="col-xs-12 col-sm-6 col-md-6 col-lg-6" placeholder="Nome..." >
					<input name="email" id="email" type="email" class=" col-xs-12 col-sm-6 col-md-6 col-lg-6 noMarr" placeholder="E-mail..." >
					<textarea name="comments" id="comments" cols="" rows="" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" placeholder="Mensagem..."></textarea>
					<input type="submit" id="submit" name="send" class="submitBnt" value="Enviar">
					<div id="simple-msg"></div>
				</form>
			</div>
			<!--contact form end-->
		</div>
	</section>
	<!--contact end-->
