<turbo-frame id="experience">
  <section class="experience">
    <div class="container">
      <div class="heading">
        <h2><%= t('title', scope: %i[frontend experience]) %></h2>
        <p><%= t('subtitle', scope: %i[frontend experience]) %></p>
      </div>
      <%= render @work_experiences %>
    </div>
  </section>
</turbo-frame>
