@import 'bootstrap';
@import 'mdb';
@import 'mixins';

body {
  font-size: .875rem;
}

.sidebar {
  bottom: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  left: 0;
  padding: 48px 0 0;
  position: fixed;
  top: 0;
  z-index: 100;

  .nav-item {
    .nav-link {
      @include menu;
    }
  }
}

.sidebar-sticky {
  height: calc(100vh - 48px);
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: .5rem;
  position: relative;
  top: 0;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

[role="main"] {
  padding-bottom: 60px;
  padding-top: 48px;
}

.sortable {
  .item {
    cursor: pointer;
  }
}

.navbar {
  .navbar-brand {
    font-size: 1rem;
    padding: .75rem;
  }

  .navbar-nav {
    width: 100%;
  }

  &.navbar-dark {
    .navbar-nav {
      .nav-item {
        .nav-link {
          @include menu;
        }
      }
    }
  }
}

.footer {
  height: 48px;
  line-height: 48px;
}
