---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/[CONTENTFUL_SPACE]/environments/master/entries?locale=*&sys.id=work_id
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful.rb/2.9.3; platform ruby/2.5.1; os macOS/17;
      Authorization:
      - Bearer [CONTENTFUL_TOKEN]
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Contentful-Api:
      - cda_cached
      Etag:
      - W/"eb7340a5aa546307f74cca5dc16a6ebd"
      X-Contentful-Region:
      - us-east-1
      X-Contentful-Request-Id:
      - bc5b72ec0f96ebbe2c7682bb7a11ad4f
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 1,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "[CONTENTFUL_SPACE]"
                  }
                },
                "id": "3rEVjxTdYQis0Qq02sCicg",
                "type": "Entry",
                "createdAt": "2018-06-14T09:48:52.794Z",
                "updatedAt": "2018-07-17T17:32:58.822Z",
                "environment": {
                  "sys": {
                    "id": "master",
                    "type": "Link",
                    "linkType": "Environment"
                  }
                },
                "revision": 2,
                "contentType": {
                  "sys": {
                    "type": "Link",
                    "linkType": "ContentType",
                    "id": "work_experience"
                  }
                }
              },
              "fields": {
                "company": {
                  "en": "KPN"
                },
                "position": {
                  "en": "Software Engineer",
                  "pt-BR": "Engenheiro de Software"
                },
                "city": {
                  "en": "Amsterdam",
                  "pt-BR": "Amsterdam"
                },
                "country": {
                  "en": "Netherlands",
                  "pt-BR": "Holanda"
                },
                "description": {
                  "en": "Software Engineer working with Python 2/3, Django, Django Rest Framework, among other related technologies.",
                  "pt-BR": "Engenheiro de Software trabalhando com Python 2/3, Django, Django Rest Framework, entre outras tecnologias relacionadas"
                },
                "start_date": {
                  "en": "2018-04-01"
                },
                "order": {
                  "en": 1
                }
              }
            }
          ]
        }
  recorded_at: Wed, 17 Oct 2018 16:05:00 GMT
recorded_with: VCR 4.0.0
