<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Work</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <%= link_to 'New', [:new, :admin, :work_experience], class: 'btn btn-sm btn-outline-secondary' %>
    </div>
  </div>
</div>

<div>
  <p id="notice"><%= notice %></p>
</div>

<%= render 'admin/shared/tabs', action: :work_experiences %>

<div class="row pt-3">
  <%= render @work_experiences %>
</div>
