@media screen {
  .about-me {
    background: #00bdbd;
    color: #fff;
    position: relative;

    .container {
      padding-top: 85px;
    }

    .btn-download {
      background: #474d5d;
      display: inline-block;
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      font-weight: 700;
      padding: 16px 22px;

      &:hover,
      &:active,
      &:focus {
        background: #373d4c;
        color: #ccc;
        text-decoration: none;
      }

      @media screen and (max-width: 400px) {
        font-size: 13px;
        padding: 16px 14px;
      }
    }

    .topmar {
      align-self: flex-end;
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: contain;
      height: 100%;
      min-height: 250px;
      width: 100%;

      @media screen and (max-width: 767px) {
        align-self: center;
      }
    }
  }
}
