@media screen {
  .experience {
    background: #eee;

    .container {
      padding-bottom: 90px;
      padding-top: 85px;
    }

    h2 {
      color: #ff675f;
    }

    .heading p {
      color: #84868d;
      line-height: 18px;
      padding-bottom: 41px;
    }
  }
}
