@media screen {
  a {
    display: inline-block;

    @media screen and (max-width: 767px) {
      display: block;
    }
  }

  .flag {
    display: inline-block;
    height: 32px;
    opacity: .8;
    outline: none;
    text-indent: -10000px;
    transition: opacity .5s ease-in-out;
    width: 32px;

    &:hover {
      opacity: 1;
    }

    &.pt-br {
      background-position: -32px 0;
    }

    &.en {
      background-position: 0 -32px;
    }
  }
}
