@media screen {
  .technical {
    background: #fff;
    color: #474d5d;

    .container {
      padding-bottom: 69px;
      padding-top: 85px;
    }

    p {
      color: #474d5d;
      padding-bottom: 41px;
    }

    h2 {
      color: #ff675f;
    }

    .row {
      display: block;
      text-align: center;
      font-size: 6px;

      @media screen and (min-width: 420px) and (max-width: 768px) {
        font-size: 7px;
      }

      @media screen and (min-width: 768px) and (max-width: 1024px) {
        font-size: 8px;
      }

      @media screen and (min-width: 1024px) {
        font-size: 10px;
      }
    }
  }
}
