@media screen {
  $max_font_size: 7;
  $unit: 'em';

  .skill {
    align-self: center;
    display: block;
    line-height: 30px;
    margin: 10px;
    padding: 0;

    @media screen and (min-width: 420px) {
      display: inline-block;
    }

    @for $value from 0 through 100 {
      &.s-#{$value} {
        font-size: #{(($max_font_size * $value) / 100)}#{$unit};
      }
    }
  }
}
