@media screen {
  .arrowpart {
    background-position: 0 2.3rem;
    background-repeat: no-repeat;
    background-image: url("arrow-left-light.png");
  }
}

@media screen and (max-width: 767px) {
  .arrowpart {
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-image: url("arrow-top-light.png");
  }
}

@media screen {
  .flag {
    background-repeat: no-repeat;
    background-image: url("flags.png");
  }

  .skill-bg {
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url("skills.png");
  }

  .banner .banner-img::after {
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url("banner-small.jpg");
  }
}

@media screen and (min-width: 420px) and (max-width: 767px) {
  .banner .banner-img.visible::after {
    background-image: url("banner-medium.jpg");
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .banner .banner-img.visible::after {
    background-image: url("banner-large.jpg");
  }
}

@media screen and (min-width: 1024px) {
  .banner .banner-img.visible::after {
    background-image: url("banner.jpg");
  }
}

@media screen {
  .about-me .topmar {
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url("gmmcal-small.png");
  }
}

@media screen and (min-width: 420px) and (max-width: 767px) {
  .about-me .topmar.visible {
    background-image: url("gmmcal-medium.png");
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .about-me .topmar.visible {
    background-image: url("gmmcal-large.png");
  }
}

@media screen and (min-width: 1024px) {
  .about-me .topmar.visible {
    background-image: url("gmmcal.png");
  }
}
