html {
  font-size: 62.5%;
}

body {
  @apply bg-black text-white font-sans text-16 font-light h-full w-full overflow-x-hidden overflow-y-scroll relative;

  @media screen and (max-width: 810px) {
    @apply min-h-700
  }

  &.en {
    noscript {
      .en {
        @apply block;
      }

      .pt-br {
        @apply hidden;
      }
    }
  }

  &.pt-br {
    noscript {
      .en {
        @apply hidden;
      }

      .pt-br {
        @apply block;
      }
    }
  }
}

a {
  @apply text-white outline-none no-underline;
}

p {
  @apply font-sans text-14 font-normal leading-21 m-0 pb-22;
}

h1 {
  @apply font-sans text-80 font-bold leading-90 m-0 pb-8;
}

h2 {
  @apply font-sans text-30 font-light tracking-12 leading-38 m-0 pb-0 uppercase;
}

h3 {
  @apply font-sans text-24 font-normal leading-30 m-0 pb-6;
}

h4 {
  @apply font-sans text-19 font-semibold leading-24 m-0 pb-6;

  &.sub-heading {
    @apply text-18 font-semibold pb-22;
  }
}

h5 {
  @apply font-sans text-16 font-normal leading-24 m-0 pb-6;
}

img {
  @apply align-middle;
}

.wrapper {
  @apply w-full;

  @media screen and (max-width: 650px) {
    @apply inset-200;
  }
}

.container {
  @media (min-width: 1200px) {
    @apply max-w-1170;
  }

  .row {
    @apply m-0;
  }
}

.heading {
  @apply pb-45 text-center;
}

.schema {
  @apply hidden;
}

.print {
  @apply hidden;
}

.pwa,
.errors {
  @apply bg-white text-black text-center;

  .page {
    @apply flex w-full h-screen;
    align-self: center;
    flex-direction: column;
    justify-content: center;
  }

  .page-header {
    align-self: center;

    .page-header-image {
      @apply w-112 inline;
    }

    .page-title {
      @apply font-error text-31;
      align-self: center;
    }
  }

  .footer {
    @apply bottom-0 fixed w-full;
  }
}
