/*----------------------------------------------------
 6. About me Style
------------------------------------------------------*/

.aboutme {
  background: #00bdbd;
  color: #fff;
  position: relative;

  .container {
    padding-top: 85px ;
  }
}

.aboutTop {
  background: #00bdbd;
  height: 60px;
}

.spHeight .aboutTop {
  margin-top: -62px !important;
}

.bntDownload {
  background: #474d5d;
  display: inline-block;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  padding: 16px 22px;

  &:hover {
    background: #373d4c;
    color: #ccc;
    text-decoration: none;
  }
}
