//----------------------------------------------------
// 6. About me Style
//------------------------------------------------------

.aboutme {
  background: #00bdbd;
  color: #fff;
  position: relative;

  .container {
    padding-top: 85px;
  }
}

.about-top {
  background: #00bdbd;
  height: 60px;
}

.sp-height .about-top {
  margin-top: -62px;
}

.bnt-download {
  background: #474d5d;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
  padding: 16px 22px;

  &:hover,
  &:active,
  &:focus {
    background: #373d4c;
    color: #ccc;
    text-decoration: none;
  }
}
