//----------------------------------------------------
// 11. Get in tuch Style
//------------------------------------------------------

.contact {
  background: #fff;

  .container {
    padding-bottom: 90px;
    padding-top: 85px;
  }

  h2 {
    color: #ff675f;
  }

  p {
    color: #84868d;
    //font-size: 13px;
    line-height: 18px;
  }

  .heading p {
    padding-bottom: 41px;
  }

  h4 {
    font-weight: 700;
  }

  .top-con {
    padding-bottom: 0;
  }
}

.contact-details {
  background: #474d5d;

  .container {
    padding-bottom: 90px;
    padding-top: 85px;
  }

  h4 {
    font-weight: 600;
    padding-bottom: 15px;
    text-transform: uppercase;
  }

  p {
    color: #93959c;
    font-size: 13px;
    line-height: 19px;
    padding-bottom: 14px;

    a {
      color: #93959c;

      &:hover {
        color: #a9abb0;
        text-decoration: none;
      }
    }
  }

  i {
    padding-right: 15px;
  }
}
