/*----------------------------------------------------
 9.	Education Style
------------------------------------------------------*/
.education{
	background:#eeeeee;
}
.education .container{
	padding-top:85px ;
	padding-bottom:90px ;
}

.education h2{
	color:#ff675f;
}
.education p{
	color:#84868d;
	/*font-size:13px;*/
	line-height:18px;
}
.education .heading p{
	padding-bottom:41px;
}

.education h4{
	font-weight:700;
}


.education .arrowpart{
	background:url(/assets/website/arrow-left-light.png) no-repeat 0 23px;
}
.education .exCon{
	background:#fafafa;
	border-bottom:solid 4px #e8e7e7;
}

.education .workDetails .rightArea{
	border-left-color:#e5e4e4;
}
