//----------------------------------------------------
// 9.  Education Style
//------------------------------------------------------

.education {
  background: #eee;

  .container {
    padding-bottom: 90px;
    padding-top: 85px;
  }

  h2 {
    color: #ff675f;
  }

  p {
    color: #84868d;
    //font-size: 13px;
    line-height: 18px;
  }

  .heading p {
    padding-bottom: 41px;
  }

  h4 {
    font-weight: 700;
  }

  .arrowpart {
    background: asset_url('arrow-left-light.png') no-repeat 0 23px;
  }

  .ex-con {
    background: #fafafa;
    border-bottom: solid 4px #e8e7e7;
  }

  .work-details .right-area {
    border-left-color: #e5e4e4;
  }
}
