/*----------------------------------------------------
 3.	Header Part
------------------------------------------------------*/
header{
	position:relative;
}
.banner{
	overflow:hidden;
	margin:0 auto !important;
	background:#CACACA;
}

.bannerText{
	position:absolute;
	left:0;
	right:0;
	top:35%;
	text-align:center;
	padding:30px 0 30px ;
	zoom: 1;
}
.bannerText h1{
	text-transform:uppercase;
	font-weight: 100;
	font-size: 51px;
	letter-spacing: 16px;
}
.bannerText h2{
	font-size:17px;
	text-transform: uppercase;
	letter-spacing: 8px;
	line-height: 45px;
}

.bannerPart{
	/*background:url(website/1.jpg) no-repeat 0 0;*/
	height:100%;
	overflow:hidden;
}

.bgwidth { width: 100%; }
.bgheight { height: 100%; }

/*------------------------------------
	3.1 Slide show background control
--------------------------------------*/
.bannerPart{
	background:#1b1f2b;
}
.bannerPart img{
	opacity:0.2;
	filter:alpha(opacity=20); /* For IE8 and earlier */
}
