//----------------------------------------------------
// 3.  Header Part
//------------------------------------------------------
header {
  position: relative;

  .banner {
    .row {
      background: #cacaca;
      margin: 60px auto 0;
      overflow: hidden;
    }
  }

  .banner-text {
    left: 0;
    padding: 30px 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 35%;
    zoom: 1;

    h1 {
      font-size: 51px;
      font-weight: 100;
      letter-spacing: 16px;
      text-transform: uppercase;
    }

    h2 {
      font-size: 17px;
      letter-spacing: 8px;
      line-height: 45px;
      text-transform: uppercase;
    }
  }

  .bgwidth {
    width: 100%;
  }

  .bgheight {
    height: 100%;
  }

  .navbar-wrapper {
    min-height: 62px;
  }

  //------------------------------------
  // 3.1 Slide show background control
  //--------------------------------------
  .banner-part {
    background: #1b1f2b;
    height: 100%;
    overflow: hidden;

    img {
      filter: alpha(opacity = 20); // For IE8 and earlier
      opacity: .2;
    }
  }
}
