/*----------------------------------------------------
 5.	Menu Style
------------------------------------------------------*/
.isStuck{
    left:0px;
    width:100%;
}
.menu{
	 margin-top:0px;
	 position: static;
	 left:0px;
	 right:0px;
}

.navwrapper .container{
	padding:0;
	width:auto;
}

.navbar-header{
	display:none;
}
.nav > li > a{
	display:inline-block;
}
.navbar-nav > li{
	float: none;
	display: inline;
}
.navbar-nav{
	margin: 0 auto;
	text-align: center;
	float: none;
}

.navbar-toggle{
	margin-top:14px;
}


/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  margin-top:0px;
  position: relative;
  z-index: 15;
  background:#262b37;
}
.navbar-wrapper .container{
	padding:0px;
}

.navbar-collapse{
	padding:0;
}
.navbar-collapse.in{
	max-height:100%;
}

.navbar.navbar-inverse.navbar-static-top {
  margin:0px auto;
  background:#262b37;
  color:#c3c8d6;
  border:none;
  font-family: 'Open Sans', sans-serif;
  font-size:14px;
  text-transform:uppercase;
}
.navbar.navbar-inverse.navbar-static-top a{
  color:#c3c8d6;
  padding:22px 25px;
  line-height:18px;
  text-align:center;
}
.navbar.navbar-inverse.navbar-static-top a:hover{
  color:#fff;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus{
  background:#1b1f29;
  color:#c3c8d6;
}
.navbar-inverse .navbar-nav>.active>a:hover {
  background:#1b1f29;
  color:#fff;
}

.hideClass{
	display:none;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 600px;
  background-color: #0A64A4;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
}