@page {
  margin-top: 2cm;
  margin-bottom: 2cm;
  size: A4 portrait;
}

html {
  font-size: 16px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: #000;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

// Header
header {
  display: none;
}

// Container Spacing
.contact,
.education,
.experience,
.technical {
  padding-bottom: 3rem;
}

// About
.about-me {
  .container {
    .details {
      flex: 0 0 100%;
      max-width: 100%;
      padding-left: 0;

      .btn-download {
        display: none;
      }
    }

    .image {
      display: none;
    }
  }
}

// Contact
.contact {
  .top-con {
    display: none;
  }

  .bottom-con {
    .container {
      > div {
        padding-left: 0;
      }
    }

    p {
      flex: 0 0 100%;
      max-width: 100%;
      padding-left: 0;

      .print {
        color: #ccc;
        font-size: .7rem;
        margin-left: .3rem;
      }
    }
  }
}

// Education
.education {
  .education-details {
    flex-direction: row-reverse;
    padding-bottom: 1rem;

    &:last-of-type {
      padding-bottom: 0;
    }

    .left-area {
      flex: 0 0 30%;
      max-width: 30%;
      padding-right: 0;

      .start,
      .end {
        display: block;
        text-align: center;
      }
    }

    .right-area {
      flex: 0 0 70%;
      max-width: 70%;
      padding-left: 0;

      .arrowpart {
        display: none;
      }
    }
  }
}

// Experience
.experience {
  .work-details {
    flex-direction: row-reverse;
    padding-bottom: 1rem;

    &:last-of-type {
      padding-bottom: 0;
    }

    .left-area {
      flex: 0 0 30%;
      max-width: 30%;
      padding-right: 0;

      .start,
      .end {
        display: block;
        text-align: center;
      }
    }

    .right-area {
      flex: 0 0 70%;
      max-width: 70%;
      padding-left: 0;

      .arrowpart {
        display: none;
      }
    }
  }
}

// Skills
.technical {
  .skill {
    display: inline-block;
    padding-bottom: .7rem;
    padding-right: .7rem;
  }
}

// Footer
.footer {
  display: none;
}

// Schema
.schema {
  display: none;
}
