//----------------------------------------------------
// 1. CSS Reset
//----------------------------------------------------

* {
  margin: 0;
  padding: 0;
}

body {
  background: #000;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

a {
  color: #fff;
  outline: none;
  text-decoration: none;
}
