/*---------------------------------------------------------------------------------
 13. Responsive style
-------------------------------------------------------------------------------*/

@media screen and (max-width: 1024px) {
	.bgwidth {
		width: auto;
		height: 100%;
	}
}

@media screen and (min-width: 1200px) {
	.workYear{
		width:140px;
		height:140px;
		padding-top:50px;
	}

	.education .workYear{
		padding-top:58px;
	}
}


@media screen and (max-width: 991px) {
	.navbar.navbar-inverse.navbar-static-top a{
		padding-left:18px;
		padding-right:18px;
	}

	.bannerText{
		padding-left:25px;
		padding-right:25px;
	}
	.bannerText h1{
		font-size:65px;
		line-height:71px;
	}
	.bannerText h2{
		font-size:28px;
	}
	.proPic{
		text-align:center;
	}

	.topmar{
		margin-top: 20px;
	}
}




@media screen and (max-width: 810px) {
	body{
		min-height:700px;
	}
	#header h3{
		font-size: 38px;
	}
	#header h3 span{
		font-size: 16px;
	}

	.abc{
		width:100%;
	}

	.navbar.navbar-inverse.navbar-static-top a {
		padding-left: 17px;
	}

	.topmar{
		margin-top: 20px;
	}
}


@media screen and (min-width: 768px) {
	.conForm input.col-sm-6 {
		width: 48.5%;
	}
	.conForm input.col-lg-6 {
		width: 48.5%;
	}
}


@media screen and (max-width: 768px) {
	.navbar-wrapper .container,
	.navwrapper .container{
		padding-right: 15px;
		padding-left: 15px;
	}
	ul.portfolioContainer li.col-xs-6{
		width:49%;
		min-height: 85px;

	}

	.topmar{
		margin-top: 20px;
	}
}


@media screen and (max-width: 767px) {
	.navbar-header{
		display:block;
	}
	.workYear{
		margin:0 auto;
	}
	.workDetails .rightArea{
		border-left:none;
	}
	.arrowpart{
		float:none;
		width:100%;
		height:40px;
		background:asset_url('website/arrow-top.png') no-repeat 50% 100%;
	}
	.education .arrowpart{
		background:asset_url('website/arrow-top-light.png') no-repeat 50% 100%;
	}
	.exCon{
		margin-left:0px;
	}
	ul.navbar-nav li a{
		display:block;
	}

	.topmar{
		margin-top: 20px;
	}
}


@media screen and (max-width: 650px) {
	#wrapper{
		top: 200px !important;
	}
	.upbox{
		transform: translate(0px, -70px);
		-ms-transform: translate(0px, -70px); /* IE 9 */
		-webkit-transform: translate(0px, -70px); /* Safari and Chrome */
	}


	.bannerText {
		top: 20%;
		padding-top:15px;
		padding-bottom:15px;
	}
	.bannerText h1 {
		font-size: 42px;
		line-height: 40px;
	}
	.bannerText h2 {
		font-size: 15px;
		line-height:24px;
		padding-top: 10px;
	}

	.topmar{
		margin-top: 20px;
	}
}


@media screen and (max-width: 480px) {
	.navbar.navbar-inverse.navbar-static-top a{
		line-height: 17px;
		padding-top:11px;
		padding-bottom:11px;
	}

	.topmar{
		margin-top: 20px;
	}
}


@media screen and (max-width: 400px) {
	#loopedSlider, #newsSlider{
		min-height: 650px;
		height: 100%;
	}
	ul.slides{
		min-height: 600px;
		height: 100%;
	}

	.item{
		width: 19%;
	}
	.item p {
		font-size: 36px;
	}

	.aboutme img{
		width:100%;
	}

	ul.portfolioContainer li.col-xs-6{
		width:100%;
	}

	.bntDownload{
		font-size: 13px;
		padding: 16px 14px;
	}

	.conForm textarea{
		margin-bottom:20px;
	}
	.textGroup{
		display:block;
		padding:0 0 40px 0;
	}

	.nameError,
	.emailError{
		left:0px;
		top:0px;

	}

	.topmar{
		margin-top: 20px;
	}
}
