//----------------------------------------------------
// 2. Document Setup
//----------------------------------------------------
.wrapper {
  width: 100%;
}

.sp-height {
  padding-top: 63px;
}

.no-padd {
  padding: 0;
}

.container .row {
  margin: 0;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin: 0;
  padding-bottom: 22px;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 80px;
  font-weight: 700;
  line-height: 90px;
  margin: 0;
  padding-bottom: 8px;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 12px;
  line-height: 38px;
  margin: 0;
  padding-bottom: 0;
  text-transform: uppercase;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
  padding-bottom: 6px;
}

h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 19px;
  font-weight: 600;
  line-height: 24px;
  margin: 0;
  padding-bottom: 6px;

  &.sub-heading {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 22px;
  }
}

h5 {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  padding-bottom: 6px;
}

.heading {
  padding-bottom: 45px;
  text-align: center;
}

.topmar {
  margin-top: -100px;
}

.modal-title {
  color: #000;
}

.schema {
  display: none;
}

.en {
  noscript {
    .en {
      display: block;
    }

    .pt-BR {
      display: none;
    }
  }
}

.pt-BR {
  noscript {
    .en {
      display: none;
    }

    .pt-BR {
      display: block;
    }
  }
}
