//----------------------------------------------------
// Elements default
//----------------------------------------------------
* {
  margin: 0;
  padding: 0;
}

body {
  background: #000;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
  position: relative;
  width: 100%;

  @media screen and (max-width: 810px) {
    min-height: 700px;
  }

  &.en {
    noscript {
      .en {
        display: block;
      }

      .pt-br {
        display: none;
      }
    }
  }

  &.pt-br {
    noscript {
      .en {
        display: none;
      }

      .pt-br {
        display: block;
      }
    }
  }

}

a {
  color: #fff;
  outline: none;
  text-decoration: none;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin: 0;
  padding-bottom: 22px;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 80px;
  font-weight: 700;
  line-height: 90px;
  margin: 0;
  padding-bottom: 8px;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 12px;
  line-height: 38px;
  margin: 0;
  padding-bottom: 0;
  text-transform: uppercase;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
  padding-bottom: 6px;
}

h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 19px;
  font-weight: 600;
  line-height: 24px;
  margin: 0;
  padding-bottom: 6px;

  &.sub-heading {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 22px;
  }
}

h5 {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  padding-bottom: 6px;
}

img {
  vertical-align: middle;
}

//----------------------------------------------------
// 2. Document Setup
//----------------------------------------------------
.wrapper {
  width: 100%;

  @media screen and (max-width: 650px) {
    top: 200px;
  }
}

.container {
  @media (min-width: 1200px) {
    max-width: 1170px;
  }

  .row {
    margin: 0;
  }
}

.heading {
  padding-bottom: 45px;
  text-align: center;
}

.schema {
  display: none;
}
