//-------------------------------------------------------------------------------
// 4. Background slider CSS style
//-------------------------------------------------------------------------------

.ri-grid {
  height: auto;
  margin: 0 auto;
  position: relative;
  zoom: 1; // For IE 6/7 (trigger hasLayout)

  ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;

    &::before,
    &::after {
      content: '';
      display: table;
    }

    &::after {
      clear: both;
    }

    li {
      background: #000;
      display: block;
      float: left;
      margin: 0;
      overflow: hidden;
      padding: 0;
      perspective: 400px;
      position: relative;

      a {
        backface-visibility: hidden;
        background-color: #333;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        box-sizing: content-box;
        display: block;
        height: 100%;
        left: 0;
        outline: none;
        position: absolute;
        top: 0;
        transform-style: preserve-3d;
        width: 100%;
      }
    }
  }

  //Grid wrapper sizes
  .ri-grid-size-1 {
    width: 55%;
  }

  .ri-grid-size-2 {
    width: 100%;
  }

  .ri-grid-size-3 {
    margin-top: 0;
    width: 100%;
  }

  //Shadow style
  .ri-shadow::after,
  .ri-shadow::before {
    bottom: 15px;
    box-shadow: 0 15px 10px rgba(0, 0, 0, .7);
    content: '';
    height: 20%;
    left: 10px;
    max-height: 100px;
    max-width: 300px;
    position: absolute;
    transform: rotate(-3deg);
    width: 50%;
    z-index: -2;
  }

  .ri-shadow::after {
    left: auto;
    right: 10px;
    transform: rotate(3deg);
  }

  .ri-grid-loading::after,
  .ri-grid-loading::before {
    display: none;
  }

  .ri-loading-image {
    display: none;
  }

  .ri-grid-loading .ri-loading-image {
    display: block;
    height: 30px;
    left: 50%;
    margin: 100px 0 0 -15px;
    position: relative;
    width: 30px;
  }
}
