/*----------------------------------------------------
 8.  Work Experience Style
------------------------------------------------------*/
.experience{
  background:#fff;
}
.experience .container{
  padding-top:85px ;
  padding-bottom:90px ;
}

.experience h2{
  color:#ff675f;
}
.experience p{
  color:#84868d;
  /*font-size:13px;*/
  line-height:18px;
}
.experience .heading p{
  padding-bottom:41px;
}

.experience h4{
  font-weight:700;
}

.work-details .right-area{
  border-left: solid 1px #eaeaea;
  padding-bottom:47px;
}
.work-details:last-child .right-area{
  padding-bottom:0px;
}
.work-year{
  font-size:17px;
  color:#fff;
  background:#ff675f;
  text-align:center;
  width:120px;
  height:120px;
  padding:40px 0 40px 0;

  -webkit-border-radius: 50%;
    border-radius: 50%;
}


.arrowpart{
  float:left;
  width:15px;
  height:50px;
  background:asset_url('website/arrow-left.png') no-repeat 0 23px;
}
.ex-con{
  width:auto;
  background:#f3f3f3;
  border-bottom:solid 4px #eeeeee;
  padding:22px 47px 6px 47px;
  margin-left:15px;
  text-align:left;
}

.ex-con p{
  color:#84868d;
  line-height:21px;
}
.ex-con h4{
  color:#474d5d;
  padding-bottom:3px;
}
.ex-con h5{
  color:#474d5d;
}
