//----------------------------------------------------
// 8.  Work Experience Style
//----------------------------------------------------
.experience {
  background: #fff;

  .container {
    padding-bottom: 90px;
    padding-top: 85px;
  }

  h2 {
    color: #ff675f;
  }

  p {
    color: #84868d;
    //font-size: 13px;
    line-height: 18px;
  }

  .heading p {
    padding-bottom: 41px;
  }

  h4 {
    font-weight: 700;
  }
}

.work-details {
  .right-area {
    border-left: solid 1px #eaeaea;
    padding-bottom: 47px;
  }

  &:last-child .right-area {
    padding-bottom: 0;
  }
}

.work-year {
  background: #ff675f;
  border-radius: 50%;
  color: #fff;
  font-size: 17px;
  height: 120px;
  padding: 40px 0;
  text-align: center;
  width: 120px;
}

.arrowpart {
  background: asset_url('arrow-left.png') no-repeat 0 23px;
  float: left;
  height: 50px;
  width: 15px;
}

.ex-con {
  background: #f3f3f3;
  border-bottom: solid 4px #eee;
  margin-left: 15px;
  padding: 22px 47px 6px;
  text-align: left;
  width: auto;

  .description {
    padding-bottom: 22px;
  }

  p {
    color: #84868d;
    line-height: 21px;
    padding-bottom: 5px;
  }

  h4 {
    color: #474d5d;
    padding-bottom: 3px;
  }

  h5 {
    color: #474d5d;
  }
}
