<turbo-frame id="education">
  <section class="education">
    <div class="container">
      <div class="heading">
        <h2><%= t('title', scope: %i[frontend education]) %></h2>
        <p><%= t('subtitle', scope: %i[frontend education]) %></p>
      </div>
      <%= render @educations %>
    </div>
  </section>
</turbo-frame>
