<!--footer start-->
<section class="footer" id="footer">
  <div class="container">
    <ul class="social">
      <li>
        <a href="https://github.com/gmmcal" target="_blank" rel="noopener" aria-label="Github">
          <svg class="fab fa-github fa-lg"></svg>
        </a>
      </li>
      <li>
        <a href="https://gitlab.com/gmmcal" target="_blank" rel="noopener" aria-label="gitlab">
          <svg class="fab fa-gitlab fa-lg"></svg>
        </a>
      </li>
      <li>
        <a href="https://dev.to/gmmcal" target="_blank" rel="noopener" aria-label="dev.to">
          <svg class="fab fa-dev fa-lg"></svg>
        </a>
      </li>
      <li>
        <a href="https://linkedin.com/in/gmmcal" target="_blank" rel="noopener" aria-label="LinkedIn">
          <svg class="fab fa-linkedin-in fa-lg"></svg>
        </a>
      </li>
    </ul>
  </div>
</section>
<!--footer end-->
