<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to 'English', [:admin, :abouts, locale: :en], class: 'nav-link active' %>
  </li>
  <% if policy(about).translate? %>
    <li class="nav-item">
      <%= link_to 'Portuguese', [:admin, :abouts, locale: :'pt-BR'], class: 'nav-link' %>
    </li>
  <% end %>
</ul>
