<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">About</h1>
</div>

<div>
  <p id="notice"><%= notice %></p>
</div>

<%= render 'tabs' %>
<% if @about.persisted? %>
  <%= render 'about', about: @about %>
<% else %>
  <%= render 'form', about: @about %>
<% end %>
