<%= turbo_frame_tag "notifications" do %>
  <% if notice %>
    <div>
      <p class="alert alert-success"><%= notice %></p>
    </div>
  <% end %>

  <% if alert %>
    <div>
      <p class="alert alert-warning"><%= alert %></p>
    </div>
  <% end %>
<% end %>
