<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to locale_to_language(I18n.locale), [:admin, action], class: tab_classes(I18n.locale) %>
  </li>
  <% available_locales.each do |locale| %>
    <li class="nav-item">
      <%= link_to locale_to_language(locale), [:admin, action, locale: locale], class: tab_classes(locale) %>
    </li>
  <% end %>
</ul>
