<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= t(:title, scope: %i[frontend helpers]) %></title>
  <%= wicked_pdf_stylesheet_link_tag 'cv/application' %>
</head>
<body>
  <%=yield%>
</body>
</html>
